In [6]:
import pandas as pd
import numpy as np
import hashlib

In [2]:
data = {
    'transaction_id': [1, 2, 3, 4, 5],
    'user_id': [101, 102, 103, 104, 101],
    'amount': [100, 200, 5000, 150, 120],
    'timestamp': [
        '2024-12-08 10:00:00',
        '2024-12-08 10:05:00',
        '2024-12-08 10:10:00',
        '2024-12-08 10:15:00',
        '2024-12-08 10:20:00',
    ],
}

In [3]:
data

{'transaction_id': [1, 2, 3, 4, 5],
 'user_id': [101, 102, 103, 104, 101],
 'amount': [100, 200, 5000, 150, 120],
 'timestamp': ['2024-12-08 10:00:00',
  '2024-12-08 10:05:00',
  '2024-12-08 10:10:00',
  '2024-12-08 10:15:00',
  '2024-12-08 10:20:00']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   transaction_id  user_id  amount            timestamp
0               1      101     100  2024-12-08 10:00:00
1               2      102     200  2024-12-08 10:05:00
2               3      103    5000  2024-12-08 10:10:00
3               4      104     150  2024-12-08 10:15:00
4               5      101     120  2024-12-08 10:20:00

In [7]:
def compute_hash(row):
    hash_input = f"{row['transaction_id']}{row['user_id']}{row['amount']}{row['timestamp']}"
    return hashlib.sha256(hash_input.encode()).hexdigest()

In [8]:
df['hash'] = df.apply(compute_hash, axis=1)

In [9]:
# Fraud detection logic: identify anomalies in transaction amounts
threshold = df['amount'].mean() + 2 * df['amount'].std()  # Anomaly threshold
df['is_fraud'] = df['amount'] > threshold

In [10]:
# Display the results
print("Transaction Data with Fraud Detection and Security Hash:")
print(df)

Transaction Data with Fraud Detection and Security Hash:
   transaction_id  user_id  amount            timestamp  \
0               1      101     100  2024-12-08 10:00:00
1               2      102     200  2024-12-08 10:05:00
2               3      103    5000  2024-12-08 10:10:00
3               4      104     150  2024-12-08 10:15:00
4               5      101     120  2024-12-08 10:20:00

                                                hash  is_fraud
0  3024ea022dbc1823aec93af18dba38f6c4b901440fcae5...     False
1  7831580c04783bbe32d6ecd0c65c4e15458f3637548423...     False
2  3d190a1791c1a57bc70c2183e103e331419bc653a6fc0b...     False
3  6a15b12274388955323fdc87b4f7ebb1ccfb4b3df40e31...     False
4  70de90c4086bf64ca20174dd85c8279fdd219872fe8f9c...     False

In [12]:
#Example of verifying data integrity
def verify_data_integrity(row):
    recalculated_hash = compute_hash(row)
    return recalculated_hash == row['hash']

In [13]:
 #Verify data integrity for all transactions
df['is_hash_valid'] = df.apply(verify_data_integrity, axis=1)

In [14]:
print("\nIntegrity Check Results:")
print(df[['transaction_id', 'is_hash_valid']])

Integrity Check Results:
   transaction_id  is_hash_valid
0               1           True
1               2           True
2               3           True
3               4           True
4               5           True